<!DOCTYPE html>
<html class="M--login--page">
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSM Market - Sign In</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="P-full-login">
  <p id="notice"><%= notice %></p>
  <p id="notice"><%= alert %></p>
  <%= devise_error_messages! %>
  <center>
    <div class="P-wrap-login-board">
      <h1 class="pb-2 P-title-login">SSM Market</h1>
      <h1 class= "pb-5 P-title-login">Login</h1>
      <%= form_for resource, as: resource_name, url: session_path(resource_name), html: {class:"", id: "form--login"} do |f| %>
        <div class="wrap-login-email">
          <%= f.email_field :email, autofocus: true, autocomplete: "off", class: "P-input-login", id: "loginEmail", placeholder: "Email"%>
          <!-- <span class="holder-login-email"></span> -->
        </div>
        <%= f.password_field :password, autocomplete: "off", class: "P-input-login", id:"loginPassword", placeholder: "Password"%>
                <!-- <input class="input100" type="password" id="loginPassword" name="txtPassword"> -->
        <% if devise_mapping.rememberable? -%>
          <div class="field mt-1 float-left ml-3">
            <%= f.check_box :remember_me, class:"P-login-remember" %>
            <%= f.label :remember_me, class:'remember-label'  %>
          </div>
        <% end %>
        <%= f.submit "LOGIN", class:"P-login-bnt my-5" %>
        <%= link_to 'Forget your password', new_account_password_path, class:"P-forget-login mt-5"%>
      <% end %>
    </div>
  </center>
  
  </body>
</html>

