<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @order_product.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_product.quantity %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @order_product.reason %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order_product.status %>
</p>

<%= link_to 'Edit', edit_order_product_path(@order_product) %> |
<%= link_to 'Back', order_products_path %>
