<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="wrap-index-category" style="padding: 30px 50px;">
    <div class="title-index-category mb-4">
      Change Password
    </div>

    <!--CURRENT PASS label-->
    <div class="row mt-3">
      <div class="col-3"></div>

      <div class="col-6 label-account">Current Password</div>

      <div class="col-3"></div>
    </div>

    <!--CURRENT PASS input-->
    <div class="row">
      <div class="col-3"></div>

      <div class="col-6">
      <%= f.password_field :current_password, autocomplete: "off" , class: 'input-filter-index-category' %>
        <!-- <input type="password" class="input-filter-index-category"> -->
      </div>
      <div class="col-3"></div>
    </div>

    <!--NEW PASS label-->
    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col-6 label-account">New Password</div>
      <div class="col-3"></div>
    </div>

    <!--NEW PASS input-->
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <%= f.password_field :password, autocomplete: "off", class: 'input-filter-index-category' %>
      </div>
      <div class="col-3"></div>
    </div>

    <!--CONFIRM PASS label-->
    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col-6 label-account">Confirm Password</div>
      <div class="col-3"></div>
    </div>

    <!--CONFIRM PASS input-->
    <div class="row justify-content-center">
      <div class="col-3"></div>
      <div class="col-6">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'input-filter-index-category'  %>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row mb-2 mt-4">
      <div class="col-lg-12 text-center">
        <%= f.submit 'Change Password', class: 'bnt-index-category col-lg-3', html: {style: "width: 20%; padding: 8px 0;"} %>
      </div>
    </div>
  </div>
<% end %>
