<%= notice %>

<div class="wrap-index-category">
  <div class="title-index-category mb-4">
    All Orders
  </div>
  <%= paginate @orders, theme: 'twitter-bootstrap-4' %>
<%= form_with(model: @order, local: true, method: 'get') do |form| %>
  <div class="row mb-4">
    <!--SORT by status-->
    <div class="col-lg-3">
      <%= form.select :status, [['Pending', 'pending'], ['Payment', 'payment']], {prompt: 'Find By Status'}, id: 'select_order_status',class:"filter-select-index-product input-filter-index-category custom-select"%>
    </div>
    <div class="col-lg-4"></div>
    <!--input for SEARCH name-->
    <div class="col-lg-3">
      <%= form.text_field :search_name, placeholder: "Search Code Order", class:"input-filter-index-category", id: 'txt_search_name' %>
    </div>
    <!--submit bnt-->
    <div class="col-lg-2">
      <%= form.button 'Find', type: 'button', class: "bnt-index-category", id:"M-btn-order-search"%>
    </div>
  </div>
<% end %>
  
  <!--LABEL-->
  <div class="row pb-2 wrap-label-index-category">
    <!--ID-->
    <div class="col-1 px-2 text-center label-index-category">ID</div>
    <!--CODE-->
    <div class="col-1 pl-1 text-center label-index-category">Code</div>
    <!--CUSTOMER NAME-->
    <div class="col-3 pl-4 label-index-category">Customer's Name</div>
    <!--TOTAL-->
    <div class="col-1 px-1 text-center label-index-category">Total</div>
    <!--CURRENT STATUS-->
    <div class="col-2 text-center label-index-category">Current Status</div>
    <!--CHANGE STATUS-->
    <div class="col-2 px-1 text-center label-index-category">Show</div>
    <!--ACTION-->
    <div class="col-2 pl-0 pr-3 text-center label-index-category">Pay Order</div>
  </div>
  <!--content-->
  <% @orders.each_with_index do |order, index| index += 1 %>
    <div class="row py-3 wrap-content-index-category content-index-order M-test" >
      <!--ID-->
      <div class="col-1 px-2 text-center"><%= index %></div>
      <!--CODE-->
      <div class="col-1 pl-1 text-center"><%= order.code %></div>
      <!--CUSTOMER NAME-->
      <div class="col-3 pl-4"><%= Account.find_by_id(order.account_id).name %></div>
      <!--TOTAL-->
      <div class="col-1 px-1 text-center"><%= order.total_price %></div>
      <!--CURRENT STATUS-->
      <!--accept: #31C55B ; cancel: #E53348-->
      <div class="col-2 text-center">
      <% if order.status == 'pending' %>
        <span class="order-status" style="background-color: #F6AC43;">Pending</span>
      <% else %>      
        <span class="order-status" style="background-color: #008AFF;">Payment</span>
      <% end %>
      </div>
      <!--CHANGE STATUS-->
      <div class="col-2 px-1 text-center" style="font-size: 15px;">
        <!-- <select class="custom-select" style="width: 90%;">
          <option>Accepted</option>
        </select> -->
        <%= link_to order_path(order) do %>
          <i class="fa fa-search-plus show-bnt-index-account align-items-center" style="width: 70%;"></i>
        <% end %>
      </div>
      <!--ACTION-->
      <div class="col-2 pl-0 text-center pr-3">
      <% if order.status != 'payment' %>
        <%= link_to account_order_path(current_account, order, order: {status: 'payment', cashier_id: current_account.id}), method: :put  do %>
          <button class="bnt-payment-order" style="width: 70%;">Payment</button>
        <% end %>  
      <% else %>
        <%#= link_to account_order_path(current_account, order, order: {status: 'pending', cashier_id: current_account.id}), method: :put do %>
          <!--<button class="bnt-pending-order" style="width: 70%;">Pending</button>-->
        <%# end %>  
      <% end %>
      </div>
    </div>
  <% end %>
  <div id="M-result"></div>
</div>

<script>
  $(document).ready(function() {
    var element = document.getElementsByClassName("content-index-order");

    var i;
    for (i = 0; i < element.length; i++) {
      if (i % 2 != 0) {
        $(element[i]).css("background-color", "#F4F3EF");
      }
    }
  })

</script>
