<!--<p id="notice"><%#= notice %></p>

<p>
  <strong>Code:</strong>
  <%#= @order.code %>
</p>

<p>
  <strong>Payment date:</strong>
  <%#= @order.payment_date %>
</p>

<p>
  <strong>Address ship:</strong>
  <%#= @order.address_ship %>
</p>

<p>
  <strong>Total price:</strong>
  <%#= @order.total_price %>
</p>

<p>
  <strong>Status:</strong>
  <%#= @order.status %>
</p>

<p>
  <strong>Total quantity:</strong>
  <%#= @order.total_quantity %>
</p>

<%#= link_to 'Edit', edit_order_path(@order) %> |
<%#= link_to 'Back', orders_path %>-->

<!--use css of index categories-->
<div class="wrap-index-category">
  <div class="title-index-category mb-4">
    Invoice #<%= @order.code %>
  </div>

  <div class="row">
    <div class="col-12 text-center title-show-order">SSM Market</div>
  </div>

  <div class="row" style="margin: 0 3%;">
    <!--Customer's Name-->
    <div class="col-6 text-left">
      Customer's Name: <span><%= @account.name %></span>
    </div>
    <!--Order Date-->
    <div class="col-6 text-right">
      Order Created: <span><%= @order.created_at.strftime("%H:%M, %a %b %d %y") %></span>
    </div>
  </div>

  <div class="row" style="margin: 0 3%;">
    <!--Phone-->
    <div class="col-6 text-left">
      Phone: <span><%= @account.phone %></span>
    </div>
    <!--Status-->
    <div class="col-6 text-right">
      Status: 
      
      <% if @order.status == 'payment' %>
      <span class="order-status" style="background-color: #008AFF; font-size: 14px;">
      <%= @order.status.capitalize %></span>
      <% else %>
        <span class="order-status" style="background-color: #F6AC43; font-size: 14px;">
        <%= @order.status.capitalize %></span>
      <% end %>
      
      
    </div>
  </div>

  <div class="row" style="margin: 0 3%;">
    <!--Store Address-->
    <div class="col-12 text-left">
      Store Address: <span>Quang Trung Software Center</span>
    </div>
  </div>

  <div class="row mt-4 wrap-table-show-order" style="margin: 0 3%;">
    <div class="col-12">
      <div class="row wrap-label-show-order">
        <!--PID-->
        <div class="col-1 text-center">#</div>
        <!--Code-->
        <!-- <div class="col-2 text-center">Code</div> -->
        <!--Name-->
        <div class="col-3 text-center">Name</div>
        <!--Quantity-->
        <div class="col-2 text-center">Quantity</div>
        <!--Unit Price-->
        <div class="col-3 text-center">Unit Price</div>
        <!--Subtotal-->
        <div class="col-3 text-center">Subtotal</div>
      </div>
    <% @order_products.each_with_index do |detail, index| index += 1 %>
      <div class="row content-show-order">
        <!--PID-->
        <div class="col-1 text-center detail-content-show-order"><%= index %></div>
        <!--Code-->
        <!-- <div class="col-2 text-center detail-content-show-order">9999999</div> -->
        <!--Name-->
        <div class="col-3 text-center detail-content-show-order"><%= Product.find_by_id(detail.product_id).name %></div>
        <!--Quantity-->
        <div class="col-2 text-center detail-content-show-order"><%= detail.quantity %></div>
        <!--Unit Price-->
        <div class="col-3 text-center detail-content-show-order"><%= detail.price %></div>
        <!--Subtotal-->
        <div class="col-3 text-center detail-content-show-order"><%= detail.quantity * detail.price %></div>
      </div>
    <% end %>

      <div class="row wrap-total-show-order">
        <div class="col-1 text-center"></div>
        <!-- <div class="col-2 text-center"></div> -->
        <div class="col-3 text-center"></div>
        <div class="col-2 text-center"></div>
        <div class="col-3 text-center">Total</div>
        <div class="col-3 text-center"><%= @order.total_price %></div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    var element = document.getElementsByClassName("content-show-order");

    var i;
    for (i = 0; i < element.length; i++) {
      if (i % 2 != 0) {
        $(element[i]).css("background-color", "#F4F3EF");
      }
    }
  })
</script>