<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :order_code %>
  </div>

  <div class="field">
    <%= form.label :payment_date %>
    <%= form.datetime_select :payment_date, id: :order_payment_date %>
  </div>

  <div class="field">
    <%= form.label :address_ship %>
    <%= form.text_field :address_ship, id: :order_address_ship %>
  </div>

  <div class="field">
    <%= form.label :total_price %>
    <%= form.text_field :total_price, id: :order_total_price %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :order_status %>
  </div>

  <div class="field">
    <%= form.label :total_quantity %>
    <%= form.text_field :total_quantity, id: :order_total_quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
