<%= form_with(model: @category, local: true, url:{action: "update"}, html: {id:"form--add--cate"}) do |form| %>
  <%= @category.errors[:name].first %>
  <div class="wrap-new-category">
    <p class="label-new-category">Edit Category</p>
    <div class="field-new-category">
      <%= form.label :name, class: "label-form-new-category" %><br>
      <%= form.text_field :name, id: :category_name, class:"w-100" %>
      <p class="validate-new-product" id="error--name--cate"></p>
    </div>
    <div class="field-new-category">
      <%= form.label :status, class: "label-form-new-category" %><br>
      <%= form.select :status, [['Active', 'active'], ['Hidden', 'hidden']], {}, id: :category_status, class: 'input-filter-index-category custome-select w-100' %>
    </div>
    <div class="row mt-2 justify-content-center" id="category_img_field_container"> 
       <div class="M-img-field">
          <button class='btn btn-dark M-btn-image'><i class="fa fa-image fa-3x"></i></br>Add Image
          </button>
           <%= form.file_field :images, multiple: false, name: "images[url][]", class: "M-image-input", onchange:"previewImages(event)" %>
          <div class="M-image-output" style="background-image: url('<%= asset_url @category.images.first.url%>'); display:block;">
            <div class='btn btn-light M-image-remove' onclick='removeImages(event, <%= @category.images.first.id%>)'><i class="fa fa-trash"></i></div>
          </div>
        </div>
    </div>
    <p class="validate-new-product text-center" id="error--pic--cate"></p>
    <div class="actions mt-5 submit-creat-category">
      <%= form.submit class: "submit-bnt-new-category" %>
    </div>
  </div>
<% end %>
