<div class="wrap-index-category">
  <div class="title-index-category mb-4">
    View All Categories
  </div>

  <!--Filter form-->
  <form class="filter-index-categories mb-4">
    <div class="row">
      <!--input for FILTER-->
      <div class="col-lg-5">
        <input type="text" placeholder="Name..." class="input-filter-index-category">
      </div>

      <!--FILTER bnt-->
      <div class="col-lg-2">
        <input type="submit" class="bnt-index-category">
      </div>
    </div>
  </form>

  <!--label for table-->
  <div class="row pb-2 wrap-label-index-category">
    <!--STT-->
    <div class="col-2 text-center label-index-category">No</div>
    <!--IMG-->
    <div class="col-2 text-center label-index-category">Image</div>
    <!--NAME-->
    <div class="col-4 label-index-category">Name</div>
    <!--Total Of Products-->
    <div class="col-2 text-center label-index-category">Total</div>
    <!--Edit-->
    <div class="col-1 text-center label-index-category">Edit</div>
    <!--Delete-->
    <!-- <div class="col-1 text-center label-index-category">Delete</div> -->
  </div>

  <!--content of table-->
  <% @categories.each.with_index do |category, index| index += 1 %>
    <% if category.status == 'active' %>
      <div class="row py-3 wrap-content-index-category content-index-category">
        <!--STATUS-->
        <div class="col-2 text-center"><%= index %></div>
        <!--IMG-->
        <div class="col-2"><img src="<%= category.images.first.url %>" alt="" class="img-index-categories"></div>
        <!--NAME-->
        <div class="col-4"><%= category.name %></div>
        <!--Total Of Products-->
        <div class="col-2 text-center">
          <%= Product.where(category_id: category.id).count(:name) %>
        </div>
        <!--Edit-->
        <div class="col-1">
          <center>
          <%= link_to edit_account_category_path(current_account, category) do %>
            <button class="edit-bnt-index-category text-center"><i class="fa fa-edit"></i></button>
          <% end %>
          </center>
        </div>
      </div> 
      <!--Delete-->
      <!-- <div class="col-1">
        <center>
          <button class="del-bnt-index-category"><i class="fa fa-trash"></i></button>
        </center>
      </div>-->
    <% else %>
      <div class="row py-3 wrap-content-index-category content-index-category">
        <!--STATUS-->
        <div class="col-2 text-center"><%= index %></div>
        <!--IMG-->
        <div class="col-2"><img src="<%= category.images.first.url %>" alt="" class="img-index-categories"></div>
        <!--NAME-->
        <div class="col-4"><%= category.name %></div>
        <!--Total Of Products-->
        <div class="col-2 text-center">
          <%= Product.where(category_id: category.id).count(:name) %>
        </div>
        <!--Edit-->
        <div class="col-1">
          <center>
          <%= link_to edit_account_category_path(current_account, category) do %>
            <button class="edit-bnt-index-category"><i class="fa fa-lock"></i></center></button>
          <% end %>
          </center>
        </div>
      </div> 
    <% end %>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    var element = document.getElementsByClassName("content-index-category");

    var i;
    for (i = 0; i < element.length; i++) {
      if (i % 2 != 0) {
        $(element[i]).css("background-color", "#F4F3EF");
      }
    }
  })
</script>
