<%= form_with(model: @category, local: true, url:{action: "create"}, html: {id:"form--add--cate"}) do |form| %>
<%= @category.errors[:name].first %>
  <div class="wrap-index-category wrap-new-category">
    <p class="label-new-category">New Category</p>
    <div class="field-new-category">
      <%= form.label :name, class: "label-form-new-category" %><br>
      <%= form.text_field :name, id: :category_name, style:"width: 100%;" %>
      <p class="validate-new-product" id="error--name--cate"></p>
    </div>

  <div class="row mt-2 justify-content-center" id="category_img_field_container">
      <%= form.fields_for :images do |i| %>
        <div class="M-img-field">
          <button class='btn btn-dark M-btn-image'><i class="fa fa-image fa-3x"></i></br>Add Image
          </button>
           <%= i.file_field :url, multiple: false, name: "images[url][]", class: "M-image-input", onchange:"previewImages(event)" %>
          <div class="M-image-output" id="img__new_category" style="color: black;">
            <div class='btn btn-light M-image-remove' onclick='removeImages(event)'><i class="fa fa-trash"></i></div>
          </div>
        </div>
      <% end %>
    </div>
    <p class="validate-new-product text-center" id="error--pic--cate"></p>

    <div class="actions mt-5 submit-creat-category">
      <%= form.submit class: "submit-bnt-new-category" %>
    </div>
  </div>
<% end %>
