<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_key %>
    <%= form.text_field :product_key, id: :product_product_key %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, id: :product_quantity %>
  </div>

  <div class="field">
    <%= form.label :manufacturer %>
    <%= form.text_field :manufacturer, id: :product_manufacturer %>
  </div>

  <div class="field">
    <%= form.label :manu_date %>
    <%= form.date_select :manu_date, id: :product_manu_date %>
  </div>

  <div class="field">
    <%= form.label :expired_date %>
    <%= form.date_select :expired_date, id: :product_expired_date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :product_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :product_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
