<!--use css of index categories-->
<div class="wrap-index-category">
  <div class="title-index-category mb-4">
    View All Products
  </div>

  <!--FILTER form-->
  <%= form_with(model: @product, local: true, method: 'get', class:"filter-index-product mb-4") do |form| %>
  <!-- <form class="filter-index-product mb-4"> -->
    <div class="row">
      <!--SORT by status-->
      <div class="col-lg-3">
      <%= form.select :status, [['Active', 'active'], ['Hidden', 'hidden']], {prompt: 'Find By Status'}, id: 'select_status',class:"filter-select-index-product input-filter-index-category custom-select" %>
      </div>

      <!--SORT by CATE-->
      <div class="col-lg-3">
        <%= form.collection_select(:category_id, @categories, :id, :name, {prompt: 'Find By Category'}, id: 'select_category', class:'filter-select-index-product input-filter-index-category custom-select') %>
      </div>
  
      <!--input for SEARCH name-->
      <div class="col-lg-3">
        <!-- <input type="text" placeholder="Name..."  class="input-filter-index-category" id="txt_search_name"> -->
        <%= form.text_field :search_name, placeholder: "Name...", class:"input-filter-index-category", id: 'txt_search_name' %>
      </div>
      
      <!--submit bnt-->
      <div class="col-lg-2">
      <!-- <button class="bnt-index-category" id="M-btn-search">Find</button>e -->
        <%= form.button 'Find', type: 'button',class: "bnt-index-category", id: 'M-btn-search'%>
      </div>
    </div>
    <% end %>
  <!-- </form> -->

  <!--label for tabel-->
  <div class="row pb-2 wrap-label-index-category">
    <!--KEY-->
    <div class="col-1 text-center label-index-category">No</div>
    <!--Name-->
    <div class="col-3 label-index-category">Name</div>
    <!--Category-->
    <div class="col-2 label-index-category">Category</div>
    <!--QUANTITY-->
    <div class="col-1 text-center label-index-category">Quantity</div>
    <!--STATUS-->
    <div class="col-2 text-center label-index-category">
      Status
    </div>

    <!--SHOW-->
    <div class="col-1 text-center label-index-category">Show</div>
    <!--ACTION-->
    <div class="col-1 text-center label-index-category">Action</div>
  </div>

  <!--content of table-->
  <% @products.each.with_index do |product, index| index += 1%>
    <div class="row py-3 wrap-content-index-product M-test" id="<%= product.id %>">
      <!--No-->
      <div class="col-1 text-center" id="<%= product.id %>-index"><%= index %></div>
      <!--Name-->
      <div class="col-3"><%= product.name %></div>
      <!--Category-->
      <div class="col-2"><%= Category.find(product.category_id).name %></div>
      <!--QUANTITY-->
      <div class="col-1 text-center"><%= product.quantity %></div>
      <!-- STATUS-->
      <div class="col-2 text-center"><%= product.status %></div>
      <!--SHOW-->
      <div class="col-1 text-center">
        <center>
          <%= link_to product_path(product) do %>
            <i class="fa fa-search-plus edit-bnt-index-category"></i>
          <% end %>
        </center>
      </div>

      <!--ACTION-->
      <% if product.status == "active" %>   
        <div class="col-1 text-center">
          <center>
          <%= link_to account_product_path(current_account, product, product: {status: 'hidden'}), method: :put do %>
            <i class="fa fa-unlock del-bnt-index-category"></i>
          <% end %>  
          </center>
        </div>
      <% else %>
        <div class="col-1 text-center">
          <center>
          <%= link_to account_product_path(current_account, product, product: {status: 'active'}), method: :put do %>
            <i class="fa fa-lock del-bnt-index-category"></i>
          <% end %>  
          </center>
        </div>
      <% end %>
    </div>
  <% end %>
  <!--content of table-->
</div>