<!DOCTYPE html>
<html class="M--bootstrap--templates">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SsmMarket-Web</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrap-admin-page">
      <div class="slidebar-admin-page">
        <div class="adminpage-logo py-4 mb-2">SSM Admin Page</div>

        <div class="account-admin-page" onclick="dropDownAdPage()">
          <i class="fa fa-address-card"></i>
          <span>Hello, <%= current_account.name %></span>
          <i class="fa fa-angle-down change-icon"></i>

          <ul id="dropdown-admin-page" class="dropdown-content-adpage mb-0">
            <!-- not done -->
            <li><%= link_to 'Profile', root_path, class:"dropdown-detail" %></li> 
            <li><%= link_to 'Change Password', change_password_path(current_account), class:"dropdown-detail" %></li>
            <!-- not done -->
            <li><%= link_to 'Logout', destroy_account_session_path, class:"dropdown-detail", method: 'delete' %></li>
          </ul>
        </div>

        <ul class="nav">
          <li class="nav-li-admin-page mt-4">
            <%= link_to root_path, class:"slidebar-field" do %>
              <i class="fa fa-columns"></i>
              <span>DASHBOARD</span>
            <% end %>
          </li>

          <li class="nav-li-admin-page slidebar-field" onclick="dropContentMenu('dropdown-user-adminpage', 1)">
            <i class="fa fa-users"></i>
            <span>USER</span>
            <i class="fa fa-angle-down change-icon"></i>

            <ul id="dropdown-user-adminpage" class="dropdown-content-adpage mb-0">
              <li><%= link_to 'View all user', root_path, class:"dropdown-detail" %></li>
              <li><%= link_to 'Add Administrator', root_path, class:"dropdown-detail" %></li>
            </ul>
          </li>

          <li class="nav-li-admin-page slidebar-field" onclick="dropContentMenu('dropdown-product-adminpage', 2)"> 
            <i class="fa fa-shopping-cart"></i>
            <span>PRODUCTS</span>
            <i class="fa fa-angle-down change-icon"></i>

            <ul id="dropdown-product-adminpage" class="dropdown-content-adpage mb-0">
              <li><%= link_to 'View All Products', root_path, class:"dropdown-detail" %></li>
              <li><%= link_to 'Add Product', root_path, class:"dropdown-detail" %></li>
            </ul>
          </li>

          <li class="nav-li-admin-page">
            <%= link_to root_path, class:"slidebar-field" do %>
              <i class="fa fa-address-book"></i>
              <span>ORDER</span>

              <ul class="dropdown-content-adpage mb-0"></ul>
            <% end %>
          </li>

          <li class="nav-li-admin-page slidebar-field active" onclick="dropContentMenu('dropdown-category-adminpage', 3)">
            <i class="fa fa-archive"></i>
            <span>CATEGORIES</span>
            <i class="fa fa-angle-down change-icon"></i>

            <ul id="dropdown-category-adminpage" class="dropdown-content-adpage mb-0">
              <li><%= link_to 'View All Categories', root_path, class:"dropdown-detail" %></li>
              <li><%= link_to 'Add Category', root_path, class:"dropdown-detail" %></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="content-admin-page">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
