<!--All Users

<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Product key</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @accounts.each do |account| %>
      <tr>
        <td><%#= account.name %></td>
        <td><%#= account.status %></td>
        <td><%#= link_to 'Show', account %></td>
        <td><%#= link_to 'Edit', edit_account_path(account) %></td>
        <td><%#= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>-->

<!--use css of index categories-->
<div class="wrap-index-category">
  <div class="title-index-category mb-4">
    View All Accounts
  </div>

  <!--FILTER form-->
  <%= form_with(model: @account, local: true, method: 'get', class:"mb-4") do |form| %>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-3">
        <%= form.collection_select(:role_id, @roles, :id, :name, {prompt: 'Find by Role'}, id: 'account_role', class:"input-filter-index-category text-uppercase custom-select") %>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-3 justify-content-end text-right">
       <%= form.text_field :search_name, placeholder: "Name...", class:"input-filter-index-category", id: 'txt_search_name' %>
      </div>

      <div class="col-lg-2">
        <%= form.button 'Find', type: 'button',class: "bnt-index-category", id: 'M-btn-user-search'%>
      </div>
    </div>
  <% end %>

  <!--LABEL-->
  <div class="row pb-2 wrap-label-index-category">
    <!--NO-->
    <div class="col-1 text-center label-index-category">No.</div>
    <!--NAME-->
    <div class="col-2 label-index-category">Name</div>
    <!--EMAIL-->
    <div class="col-3 label-index-category">Email</div>
    <!--ROLE-->
    <div class="col-1 label-index-category">Role</div>
    <!--STATUS-->
    <div class="col-1 label-index-category text-center">
      Status
    </div>
    <!--SHOW-->
    <div class="col-2 text-center label-index-category">Profile</div>
    <!--ACTION-->
    <div class="col-2 text-center label-index-category">Action</div>
  </div>

  <% @accounts.each_with_index do |account, index| index += 1 %>
    <div class="row py-3 wrap-content-index-product content-index-account M-test" id="<%= account.id %>">
      <!--NO-->
      <div class="col-1 text-center" id="<%= account.id %>-index"><%= index %></div>
      <!--NAME-->
      <div class="col-2"><%= account.name %></div>
      <!--EMAIL-->
      <div class="col-3"><%= account.email %></div>
      <!--ROLE-->
      <div class="col-1"><%= Role.find(account.role_id).name.upcase %></div>
       <!--STATUS-->
      <div class="col-1 text-center"> <%= account.status.capitalize %> </div>
      <!--SHOW-->
      <div class="col-2">
      <%= link_to account_path(account) do %>
        <center>
          <i class="fa fa-search-plus show-bnt-index-account align-items-center" style="width: 65%;"></i>
        </center>
      <% end %>
      </div>

      <!--ACTION-->
      <div class="col-2">
        <!--<div class="row">-->
         <% if account.role_id != 1 %>
          <% if account.status == 'active' %>
             <!--<div class="col-12 px-2">-->
                <center>
                  <%= link_to account_path(account, account: {status: 'hidden'}), method: :put do %>
                  <i class="fa fa-lock ban-bnt-index-account align-items-center" style="width: 65%;">
                    <span class="px-1 align-items-center" style="font-size: 13px;">Ban</span>
                  </i>
                  <% end %>
                </center>
              <!--</div>-->
            <% else %>
            <!--<div class="col-12 px-2">-->
              <%= link_to account_path(account, account: {status: 'active'}), method: :put do %>
                <center>
                  <i class="fa fa-unlock active-bnt-index-account align-items-center" style="width: 65%;">
                    <span class="px-1 align-items-center" style="font-size: 13px;">Active</span>
                  </i>
                </center>
              <% end %>
            <% end %> 
        <% else %> 
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    var element = document.getElementsByClassName("content-index-account");

    var i;
    for (i = 0; i < element.length; i++) {
      if (i % 2 != 0) {
        $(element[i]).css("background-color", "#F4F3EF");
      }
    }
  })
</script>