<div class="wrap-index-category">
  <div class="title-index-category mb-4">Profile of <%= @account.name %></div>

  <div class="row" style="padding: 0 70px;">
    <div class="col-12">
      <!--EMAIL-->
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">Email</div>
        <div class="col-2"></div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <input type="text" class="input-filter-index-category" value=" <%= @account.email %>" disabled>
        </div>
        <div class="col-2"></div>
      </div>
      <!--NAME-->
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">Name</div>
        <div class="col-2"></div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
           <input type="text" class="input-filter-index-category" value=" <%= @account.name %>" disabled>
        </div>
        <div class="col-2"></div>
      </div>

      <!--PHONE + GENDER-->
      <div class="row">
        <div class="col-2"></div>
        <!--PHONE-->
        <div class="col-sm-4">Phone</div>
        <!--GENDER-->
        <div class="col-sm-4">Gender</div>
        <div class="col-2"></div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <!--PHONE-->
        <div class="col-4">
          <input type="text" class="input-filter-index-category" value=" <%= @account.phone %>" disabled>
        </div>
        <!--GENDER-->
        <div class="col-4">
          <% if @account.gender == 'male' %>
          <input type="radio" class="radio-profile" name="gender" disabled checked><span class="pl-2 pr-3">Male</span>
          <input type="radio" class="radio-profile" name="gender" disabled ><span class="pl-2 pr-3">Female</span>
        <% elsif @account.gender == 'female' %>
          <input type="radio" class="radio-profile" name="gender" disabled><span class="pl-2 pr-3">Male</span>
          <input type="radio" class="radio-profile" name="gender" disabled checked><span class="pl-2 pr-3">Female</span>
        <% else %>
          <input type="radio" class="radio-profile" name="gender" disabled><span class="pl-2 pr-3">Male</span>
          <input type="radio" class="radio-profile" name="gender" disabled><span class="pl-2 pr-3">Female</span>
        <% end %>
        </div>
        <div class="col-2"></div>
      </div>

      <!--ROLE + STATUS-->
      <div class="row">
        <div class="col-2"></div>
        <!--ROLE-->
        <div class="col-4">Role</div>
        <!--STATUS-->
        <div class="col-4">Status</div>
        <div class="col-2"></div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <!--ROLE-->
        <div class="col-4">
          <input type="text" class="input-filter-index-category" value=" <%= Role.find_by_id(@account.role_id).name.upcase %>" disabled>
        </div>
        <!--STATUS-->
        <div class="col-4">
          <input type="text" class="input-filter-index-category" value="<%= @account.status.capitalize%>" disabled>
        </div>
        <div class="col-2"></div>
      </div>

      <!--ADDRESS-->
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">Address</div>
        <div class="col-2"></div>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <input type="text" class="input-filter-index-category" value="<%= @account.address%>" disabled>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
</div>
